## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [54]:
# Your code here
sample_list_1 = random.sample(range(0,100), k=80)
print(sample_list_1)
len(sample_list_1)

[13, 76, 87, 62, 79, 91, 11, 28, 65, 17, 14, 77, 70, 36, 67, 34, 78, 85, 5, 23, 52, 27, 66, 38, 26, 63, 54, 15, 97, 19, 59, 64, 60, 92, 37, 44, 83, 56, 39, 82, 0, 61, 48, 20, 42, 57, 80, 93, 55, 98, 49, 71, 29, 6, 81, 24, 35, 69, 32, 68, 16, 96, 4, 21, 86, 45, 40, 30, 8, 72, 84, 10, 31, 73, 94, 33, 7, 47, 90, 74]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [15]:
# Your code here
set1 = set(sample_list_1)
print(set1)
length_set1 = len(set1)
print("The length of the set is still {}".format(length_set1))

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 19, 20, 21, 22, 24, 26, 27, 28, 31, 32, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 58, 59, 61, 63, 64, 65, 67, 69, 70, 71, 72, 73, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99}
The length of the set is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [45]:
# Your code here
#sample_list_2 = []
#for i in range (0,100):
#    sample_list_2 = random.randint(0, 80)

sample_list_2 = [random.randint(0, 100) for i in range(0, 80)]
print(sample_list_2)
print(len(sample_list_2))

[63, 35, 78, 69, 39, 53, 61, 16, 34, 60, 51, 87, 57, 18, 27, 61, 93, 58, 58, 26, 74, 69, 75, 88, 86, 35, 75, 52, 41, 15, 70, 48, 85, 59, 23, 2, 19, 73, 70, 8, 30, 1, 60, 67, 87, 32, 9, 55, 90, 15, 74, 61, 90, 44, 67, 12, 98, 29, 31, 42, 92, 1, 49, 14, 42, 44, 22, 66, 47, 47, 78, 95, 17, 11, 100, 15, 35, 76, 34, 86]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [55]:
# Your code here
set2 = set(sample_list_2)
print(set2)

length_set2 = len(set2)
print("The lenght is not 80, but {}.".format(length_set2))

{1, 2, 8, 9, 11, 12, 14, 15, 16, 17, 18, 19, 22, 23, 26, 27, 29, 30, 31, 32, 34, 35, 39, 41, 42, 44, 47, 48, 49, 51, 52, 53, 55, 57, 58, 59, 60, 61, 63, 66, 67, 69, 70, 73, 74, 75, 76, 78, 85, 86, 87, 88, 90, 92, 93, 95, 98, 100}
The lenght is not 80, but 58.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [122]:
# Your code here
set3 = set1.difference(set2)
print(set3)
len(set3)

{0, 3, 4, 5, 6, 10, 13, 20, 21, 24, 28, 36, 37, 38, 40, 43, 45, 46, 50, 54, 64, 65, 71, 72, 77, 79, 80, 81, 82, 83, 84, 91, 94, 96, 99}

35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [56]:
# Your code here
set4 = set2.difference(set1)
print(set4)
len(set4)

{66, 100, 39, 74, 78, 16, 17, 18, 23, 57, 60, 29, 30}

13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [53]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
len(set5)

{1, 2, 8, 9, 11, 12, 14, 15, 19, 22, 26, 27, 31, 32, 34, 35, 41, 42, 44, 47, 48, 49, 51, 52, 53, 55, 58, 59, 61, 63, 67, 69, 70, 73, 75, 76, 85, 86, 87, 88, 90, 92, 93, 95, 98}

45

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [76]:
# Your code here

len_is_right = True

sum_set1 = len(set3)+len(set5)
sum_set2 = len(set5)+len(set4)

if (sum_set1 == len(set1)):
    print(len_is_right)


if (sum_set2 == len(set2)):
    print(len_is_right)

True
True

#### Create an empty set called `set6`.

In [99]:
# Your code here
set6 = set(())
print(type(set6))
print(set6)

<class 'set'>
set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [123]:
# Your code here

#print(set3)
set6.update(set5)
set6.update(set3)

print(set6)
print(set3)

{0, 3, 4, 5, 6, 10, 13, 20, 21, 24, 28, 36, 37, 38, 40, 43, 45, 46, 50, 54, 64, 65, 71, 72, 77, 79, 80, 81, 82, 83, 84, 91, 94, 96, 99}
{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 19, 20, 21, 22, 24, 26, 27, 28, 31, 32, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 58, 59, 61, 63, 64, 65, 67, 69, 70, 71, 72, 73, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99}
{0, 3, 4, 5, 6, 10, 13, 20, 21, 24, 28, 36, 37, 38, 40, 43, 45, 46, 50, 54, 64, 65, 71, 72, 77, 79, 80, 81, 82, 83, 84, 91, 94, 96, 99}

#### Check if `set1` and `set6` are equal.

In [126]:
# Your code here
son_iguales = "Sí, son iguales "

if len(set1) == len(set6):
    print(son_iguales)

Sí, son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [131]:
# Your code here
contiene = "Si es un sub-set"
no_contiene = "No, no contiene "

if set2.issubset(set1):
    
    print(contiene)
else:
    print(no_contiene)

if set3.issubset(set1):
    
    print(contiene)
else:
    print(no_contiene)

No, no contiene
Si es un sub-set

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [136]:
# Your code here
z = set3.union(set4)
x = z.union(set5)
#print(len(x))

y= set1.union(set2)
#print(len(y))

variable = "Son iguales"
if y==x:
    print(variable)

93
93
Son iguales

#### Using the `pop` method, remove the first element from `set1`.

In [148]:
# Your code here

x = set1.pop()
print(x)

4

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [160]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    set1.discard(i)
print(set1)

{5, 6, 8, 10, 12, 13, 14, 15, 20, 22, 24, 26, 27, 28, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 58, 63, 64, 65, 67, 70, 72, 73, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}